.faq-container {
  margin: 0 auto;
  gap: 20px;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.faq-container h3 {
  font-size: 30px;
  font-family: "Heebo";
}

details {
  font-size: 16px;
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #f0e4e4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: 300;
}

details:hover {
  background: #f5f5f5;
}

details:hover svg {
  stroke: var(--primary-blue);
}

details[open] {
  background: #fff;
  padding-left: 30px;
}

summary {
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 1em;
  align-items: center;
  font-weight: 500;
}

summary svg {
  stroke: var(--white);
}

details[open] summary svg {
  stroke: var(--primary-blue);
  transform: rotate(90deg);
}

summary:hover .fag-title {
  color: var(--primary-blue);
}

summary::-webkit-details-maker {
  display: none;
}

summary:focus {
  outline: none;
}

.fag-title {
  width: 90%;
  transition: all 250ms ease-in-out;
}

.fag-content {
  padding: 0.2em 1em 1em 1em;
  font-weight: 300;
  line-height: 1.5;
}

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1em;
  transition: all 150ms ease-out;
}

@media (max-width: 999px) {
  .faq-container {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  summary {
    font-size: 16px;
  }
  details {
    font-size: 14px;
  }
  .faq-container h3 {
    font-size: 25px;
  }
}

@media (max-width: 300px) {
  .faq-container h3 {
    font-size: 20px;
  }
}
