@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 100px;
  font-family: "Heebo";
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 100px;
  background: #222;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Heebo";
  color: #f5f5f5;
}

.navbar-brand .logo {
  width: 150px;
  padding-top: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 18px;
}

.nav-links a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav-links .login {
  border: 1px solid #f5f5f5;
  padding: 10px 20px;
  border-radius: 50px;
}

.nav-links .signup {
  background: #fff;
  color: black;
  border-radius: 50px;
  padding: 10px 20px;
}

.nav-links .signup:hover {
  color: #222;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

@media screen and (max-width: 998px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #333;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
    gap: 50px;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li:nth-last-child(1) {
    margin-bottom: 20px;
  }

  .navbar-brand .logo {
    width: 150px;
  }
}

